section {
  margin: 5rem 0;
}

.text {
  margin-top: 8rem;
  margin-left: 8rem;
}
.pImg {
  position: absolute;
  right: -5rem;
  width: 100%;
}
.work {
  height: 30rem;
  margin-left: 1rem;
  width: 90%;
  -webkit-box-shadow: 5px 15px 10px 0 rgba(8, 0, 63, 0.1);
  box-shadow: 5px 15px 10px 0 rgba(8, 0, 63, 0.1);
  align-self: auto;
  border-radius: 5px;
  position: relative;
}
.work:nth-child(1) {
  background-image: url("https://res.cloudinary.com/codack/image/upload/v1597310494/jentoscopes1_enavvz.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
}
.work:nth-child(1):hover {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.897),
      rgba(197, 178, 189, 0.315)
    ),
    url("https://res.cloudinary.com/codack/image/upload/v1597310494/jentoscopes1_enavvz.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.work:nth-child(2) {
  background: url("https://res.cloudinary.com/codack/image/upload/v1597310494/cardinal_eygm8t.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.5s;
}
.work:nth-child(2):hover {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.897),
      rgba(197, 178, 189, 0.315)
    ),
    url("https://res.cloudinary.com/codack/image/upload/v1597310494/cardinal_eygm8t.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.work:nth-child(3) {
  background: url(https://res.cloudinary.com/codack/image/upload/v1597310499/villesec_hv0tdc.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.work:nth-child(3):hover {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.897),
      rgba(197, 178, 189, 0.315)
    ),
    url(https://res.cloudinary.com/codack/image/upload/v1597310499/villesec_hv0tdc.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.workrow {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
}
.work .workHead {
  color: white;
  position: absolute;
  bottom: 8rem;
  left: 1rem;
  display: none;
  animation-name: fadeInText;
  transition: bottom 1s, display 1s;

  font-weight: 300;
}
.work .workHead h5 {
  color: white;
}
.work:hover .workHead {
  display: block;
  bottom: 0;
}
@keyframes fadeInText {
  0% {
  }
  100% {
  }
}
