section {
  margin-top: 5rem;
}
@media (max-width: 500px) {
  section {
    padding-top: 7rem;
  }
}
.box {
  background: white;

  text-align: center;
  min-width: 350px;
  padding: 24px 16px;
}
.box {
  box-shadow: 0px 20px 30px rgba(189, 189, 189, 0.01),
    0px 14px 30px rgba(155, 81, 224, 0.1);
  border-radius: 4px;
  border: 1px solid #e0e0e091;
  margin-top: 1rem;
}
.box.box2:nth-child(2),
.box.box2:nth-child(4),
.box.box2:nth-child(6) {
  border: 1 px solid #3452de !important;
  background-color: green;
}
/* .box2 {
  border: 1px solid #150059;
} */
.icon {
  font-size: 30px;
  color: #3452de;
  border-radius: 50%;
  background-color: #1500591e;
  display: inline-block;
  padding: 8px 16px;
  margin: 10px;
}
.desktop {
  width: 100%;
}
.SProject {
  margin-top: 10rem;
}
.link_arrow {
  overflow: hidden;
  height: 1em;
  margin-left: 0.5em;
  margin-bottom: -0.125em;
  stroke: currentColor;
  stroke-width: 2;
  fill: transparent;
}
.contactLink {
  color: #3452de;
  font-weight: 400;
  text-decoration: none !important;
}

@media (max-width: 600px) {
  .desktop {
    display: none;
  }
  .projectBG {
    display: none;
  }
}
.parentDekstop {
  position: relative;
  margin-top: 8em;
}
