.projectW {
  background-color: #3a3a3a;
  height: 70vh;
  background-image: url("../../assets/footer-banner.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
}
@media (max-width: 766px) {
  .projectW {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
      url(../../assets/footer-banner-xs.png);
    background-position-y: bottom;
    background-position-x: 0ex;
    background-size: 100% 50%;
    height: 40rem;
  }
}
.pText {
  /* padding: 5rem 0; */
  padding-left: 3px;
  color: white;
  padding-top: 5rem;
}
.content {
  margin-left: 5rem;
}
.content h2 {
  color: white;
  margin-bottom: 2rem;
  font-weight: 700;
}
.books {
}
