/* .hShape {
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 120px;
  -webkit-transform: translate(80%, -30%) rotate(-35deg);
  transform: translate(80%, -30%) rotate(-35deg);
  background-image: linear-gradient(45deg, #3452de 40%, #506690 100%);
  display: none;
} */
.header .hShape {
  position: absolute;
}

/*
* These styles creates the underlining of link
*/

.link {
  position: relative;
  z-index: 1;
  display: inline-flex;
  text-decoration: none !important;
  padding-left: 0.75rem;
  padding-bottom: 0.25rem;
  padding-right: 0.75rem;
  color: #000000;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.link:hover {
  text-decoration: none !important;
}
.link::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #3452de 30%, rgba(0, 0, 0, 0) 45%);

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  will-change: width;
  transform: rotate(-2deg);
  transform-origin: left bottom;
}

.link:hover::before {
  width: 0;
}

/*
* animation styles
*/

.link::before {
  transition: width 0.1s ease-out;
}

.link:hover::before {
  transition-duration: 0.15s;
}

.link:focus {
  outline: 2px solid #fed330;
  outline-offset: 0.5rem;
}

/* .heroBox {
  background: linear-gradient(90deg, #3453de49 0%, rgba(247, 247, 247, 0) 80%);
 
  width: 90%;
  height: 100vh;
  position: absolute;
  top: 6rem;
  left: 3.5rem;
  border-radius: 60px;

  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
} */

.header {
  height: 100vh;
  width: 100%;
  background-image: url("https://res.cloudinary.com/codack/image/upload/v1599420152/front-end-bg_bvhjez.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-size: contain;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
}
.heroText {
  margin-top: 5rem;
}
.heroBtn {
  background-color: #3452de;
  padding: 12px 20px;
  border: 1px solid #3452de;
  outline: none !important;
  display: inline-block;
  color: white;
  border-radius: 4px;
  transition: 0.4s ease-in-out;
}
.heroBtn:hover {
  background-color: transparent;
  border: 1px solid #3452de;
  color: #3452de;
}
@media (max-width: 980px) {
  .heroText {
    margin-top: 2rem;
  }
}

@media (max-width: 500px) {
}
.heroText h1 {
  margin-bottom: 1.7rem;
  font-weight: 500;
  color: #3452de;
  font-size: 60px;
}
@media (max-width: 480px) {
  .heroText {
    margin-top: 1rem;
    text-align: center;
  }
  .row .col-4 {
    margin-left: 3rem;
    text-align: center;
  }
}
