@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body,
html {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #545465 !important;
  font-weight: 400 !important;
  scroll-behavior: smooth;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* ::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  border: 6px solid #0a1744;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #a79696, #0755bb);
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: Poppins !important;
}
.alink {
  display: inline-block;
  position: relative;
  color: #343434;
  text-decoration: none;
  padding: 0 6px;
  text-decoration: none !important;
}
.alink::before,
.alink::after {
  will-change: transform;
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}

.alink:active::before {
  transition: 100ms ease-in;
  background: mix(#f1f1f1, #0077ff, 40%);
}
.alink:after {
  transition: 100ms ease-in;
  border-left-color: mix(#f1f1f1, #0077ff, 40%);
}

.alink::before {
  transition: 100ms ease-out 50ms;
  transform-origin: 0 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: mix(#f1f1f1, #0077ff, 80%);
}
.alink::after {
  transition: 50ms ease-out;
  transform: scaleX(0);
  transform-origin: left center;
  bottom: 2px;
  right: -12px;
  border: 8px solid transparent;
  border-left-color: mix(#f1f1f1, #0077ff, 60%);
}

.alink:hover::before {
  transition: 100ms ease-out;
  transform: scaleY(0.18);
  background: mix(#f1f1f1, #0077ff, 60%);
}
.alink::after {
  transition: 50ms ease-out 100ms;
  transform: none;
}
.Plink {
  background-image: linear-gradient(120deg, #333333 0%, #0077ff 100%);
  background-repeat: no-repeat;
  background-size: 50% 0.4em;
  background-position: 0 88%;
  transition: all 0.25s ease-in;
  color: #333333;
  font-weight: 800;
}

.Plink:hover {
  background-size: 100% 88%;
  text-decoration: none;
  color: white;
}
.secHead {
  font-weight: 800;
  font-size: 38px;
  color: #333333;
}
.secHead3 {
  font-size: 54px;
}
@media (max-width: 800px) {
  .secHead {
    font-size: 25px;
  }
  .secHead3 {
    font-size: 28px;
  }
  .secHead1 {
    font-size: 28px !important;
  }
}
.secHead1 {
  font-weight: 800;
  font-size: 45px;
  color: #333333;
}
.pgHeroBg {
  height: 685px;
  min-height: 500px;
  background-color: #f9fafc;
  padding: 100px 1rem;
  background-image: url(../src/assets/dots-cloud.png),
    url(../src/assets/dots-cloud.png), url(../src/assets/dots-cloud.png);
  background-repeat: no-repeat;
  background-position: left 10% bottom 20%, right 10% top 50%,
    right 35% bottom 15%;
  background-size: 180px, 140px, 100px;
}
.card {
  border: none !important;
}

.p-btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.pmpd-btn {
  border: 1px solid transparent;
  outline: none !important;
  padding: 9px 26px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #0077ff;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0);
  display: inline-block;
  color: #fff;
  outline: none;
  border: 1px solid transparent;
  letter-spacing: 0.04em;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}
.pmpd-btn-outline {
  background-color: transparent;
  color: #0077ff;
  border: 1px solid #0077ff;
}
.pmpd-btn-outline:hover {
  color: white;
  background-color: #0077ff;
}
.pmpd-btn:hover {
  border: 1px solid #0077ff;
  color: #0077ff;
  background: transparent;
}
.pmpd-btn-white {
  background-color: #f8d300;
  color: #0077ff;
}
.link {
  text-decoration: none !important;
  color: inherit;
}
